[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "libraries/NTPClient"]
	path = libraries/NTPClient
	url = https://github.com/taranais/NTPClient.git
